{% extends 'base.html' %}

{% block title %}John's Life - Home{% endblock %}



{% block content %} 
<h1>L’histoire de John</h1>
        <p>
            John, c’est ce pote que tout le monde connaît : un mec sympa, maladroit,  
            et surtout champion toutes catégories des rendez-vous foireux.  
            À chaque tentative de flirt, c’est une anecdote épique qui naît.  
            Son histoire, c’est un condensé des débuts de galère que tout le monde a vécus (mais qu’on préfère oublier).
        </p>
        <p>
            Ce site, c’est le récit (semi-fictif, mais très inspiré) de ses aventures.  
            Un mélange d’auto-dérision, de tendresse et de facepalms collectifs.
            Entrez dans la vie de John, et qui sait... vous y reconnaîtrez peut-être un peu de vous-même.
        </p>
{% endblock %}

