@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
nav {
  background: #AB22FF;
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.menu li {
  font-size: 18px;
  padding: 15px 10px;
  white-space: nowrap;
}

.button.secondary {
  border-bottom: 1px #AB22FF solid;
}
.logo_text {
flex-direction: row;
 display: inline-flex;
  align-items: center;
  cursor:pointer;
}
.logo_text h1 {
  font-family: 'Coming Soon', sans-serif;
  color: white;
  padding: 20px 5px;
  margin: 0;
}


/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;


}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
   font-weight: 500;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: white;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
      justify-content: center;
  }

  .logo {
      flex: 1;
  }

  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }
  .button.secondary {
      border: 0;
  }
  .button a {
      padding: 7.5px 15px;
      background: #2E2D4D;
      border: 1px #2E2D4D solid;
      border-radius:50em;
  }
  .button.secondary a {
      background: transparent;
  }
  .button a:hover {
      text-decoration: none;
      transition:all .25s;
  }
  .button:not(.secondary) a:hover {
      background: #2E2D4D;
      border-color: #2E2D4D;
  }
  .button.secondary a:hover {
      color: #ddd;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 30px;
  }
  .menu li.button {
      padding-right: 0;
  }
}




.con {
    display: flex; flex-direction: column; align-items: center; justify-content: space-around;
}